# Laravel & System ignores
ecommerce9/vendor/
ecommerce9/node_modules/
ecommerce9/public/storage
ecommerce9/storage/*.key
ecommerce9/.env
.phpunit.result.cache

# Binary and Large files
*.zip
*.rar
*.gz
*.tar
*.7z
*.sql
*.exe
*.log
